*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* navbar */
#nav-container {
    width: 100%;
    height: 163px;
}

/* top-navbar */
.top-nav {
    width: 100%;
    height: 40px;
    background-color: #0769da;
    display: flex;
    justify-content: space-between;

}

.top-left {
    width: 30%;
    height: 40px;
   font-family: Inter, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 26.4px;
color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right {
    width: 30%;
    height: 40px;
 font-family: Inter, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 36px;
color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* center-nabar */
.center-navbar {
    width: 100%;
    height: 74px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: #0573f0;
}

.center-left {
    width: 15%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.tronmart-logo {
    width: 125px;
}

.center-right {
    width: 26%;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-space {
    width: 270px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 17px;
    padding-left: 10px;
    border: none;

}

/* nav-lower */
.nav-lower {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0573f0;
}

.lower-left {
    width: 14%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-link{
    font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 52px;
color: rgb(255, 255, 255);
text-decoration: none;
}


.lower-center {
    width: 68%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-center a {
  font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 52px;
color: rgb(255, 255, 255);
    text-decoration: none;
   
}

.lower-right {
    width: 18%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.basket-logo {
    width: 27px;
}

.login-btn {
    background-color: transparent;
    font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.4px;
color: rgb(255, 255, 255);
    border: none;

}
/* hero-container" */
.hero-container{
    width: 94%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* categary-container */
.categary-container{
    width: 24.5%;
    height: 750px;
    margin-top: 36px;
    /* border-right: 1px solid rgb(174, 172, 172); */
   
}
.heading-catigery{
    font-family: Poppins, sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 26.4px;
color: rgb(39, 50, 63);
}
.conditoner{
    font-family: Inter, sans-serif;
font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 32px;
color: rgb(72, 81, 91);
margin-top: 30px;
margin-left: 10px;
}
.conditoner:hover{
    color: #0573f0;
}
.all-lower-text-catigery{
       font-family: Inter, sans-serif;
font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 32px;
color: rgb(72, 81, 91);
margin-top: 10px;
margin-left: 8px; 
}
.all-lower-text-catigery:hover{
color: #0573f0;
}
.filter-heading{
    font-family: Poppins, sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 28.6px;
color: rgb(39, 50, 63);
margin-top: 28px;
}
.range-line{
    width: 270px;
    height: 3px;
    margin-top: 20px;
}
/* 
.home-appplience-container */
.home-appplience-container{
    width: 70%;
    height: 1490px;
}
.home-appplience-heading{
font-family: Poppins, sans-serif;
font-size: 64px;
font-weight: 600;
line-height: 89.6px;
color: rgb(5, 115, 240);
margin-top: 100px;
}
.loerm{
font-family: Inter, sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 26.4px;
color: rgb(72, 81, 91);
margin-top: 57px;
}

/* show-btn-container */
.show-btn-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.results{
    font-family: Inter, sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 16px;
color: rgb(72, 81, 91);
}
.defult-btn{
    font-family: Inter, sans-serif;
font-size: 17px;
font-weight: 400;
line-height: normal;
color: rgb(102, 102, 102);
border: none;
background-color: transparent;
}



/* line-4 */

.card-line-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

/* home-1 */
.card-home1 {
    width: 31%;
    height: 400px;justify-content: space-around;
}

.crd-home1-img-box {
    width: 255px;
    height: 272px;
    background: url(photo/imageye___-_imgi_218_electronic-store-product-image-13-768x768.jpg);
    background-size: cover;
}
 .card-home1:hover .crd-home1-img-box{
    background: url(photo/imageye___-_imgi_213_electronic-store-product-gallery-image-32-768x768.jpg);
    background-size: cover;
   cursor: pointer;
}



.sale-btn {
    width: 55px;
    height: 28px;
    border-radius: 14px;
    background-color: #d8d8d8;
    border: none;
    margin: 15px 15px;

}


.crd-home1-heading {
  font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20.8px;
color: rgb(39, 50, 63);
    width: 240px;
    margin: auto;
    margin-top: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #374454;
    margin: 10px 20px;
}


/* home-2 */
.card-home2 {
    width: 31%;
    height: 430px;
}

.crd-home2-img-box {
    width: 255px;
    height: 272px;
    background: url(photo/imageye___-_imgi_208_electronic-store-product-image-12-768x768.jpg);
    background-size: cover;
}

 .card-home2:hover .crd-home2-img-box  {
    background: url(photo/imageye___-_imgi_213_electronic-store-product-gallery-image-32-768x768.jpg);
    background-size: cover;
    cursor: pointer;

}

.sale-btn {
    width: 55px;
    height: 28px;
    border-radius: 14px;
    background-color: #d8d8d8;
    border: none;
    margin: 15px 15px;

}


.crd-home2-heading {
 font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20.8px;
color: rgb(39, 50, 63);
    width: 240px;
    margin: auto;
    margin-top: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #374454;
    margin: 10px 20px;
}


/* home3 */
.card-11 {
    width: 31%;
    height: 430px;
        border: 1px solid red;
}

.crd-home3-img-box {
    width: 255px;
    height: 272px;
    background: url(photo/imageye___-_imgi_218_electronic-store-product-image-13-768x768.jpg);
    background-size: cover;
}

 .card-home3:hover .crd-home3-img-box  {
    background: url(photo/imageye___-_imgi_213_electronic-store-product-gallery-image-32-768x768.jpg);
    background-size: cover;
    cursor: pointer;

}

.sale-btn {
    width: 55px;
    height: 28px;
    border-radius: 14px;
    background-color: #d8d8d8;
    border: none;
    margin: 15px 15px;

}


.crd-home3-heading {
  font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20.8px;
color: rgb(39, 50, 63);
    width: 240px;
    margin: auto;
    margin-top: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #374454;
    margin: 10px 20px;
}

.card-line-5{
    width: 95%;
    height: auto;
    display: flex;
    margin-top: 70px;
}



/* home-4 */
.card-home4 {
    width: 33%;;
    height: 430px;
}

.crd-home4-img-box {
    width: 255px;
    height: 272px;
    background: url(photo/imageye___-_imgi_130_electronic-store-product-image-27-400x400.jpg);
    background-size: cover;
}


.sale-btn {
    width: 55px;
    height: 28px;
    border-radius: 14px;
    background-color: #d8d8d8;
    border: none;
    margin: 15px 15px;

}


.crd-home4-heading {
  font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20.8px;
color: rgb(39, 50, 63);
    width: 240px;
    margin: auto;
    margin-top: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #374454;
    margin: 10px 20px;
}


/* home-5 */
.card-home5 {
    width: 33%;;
    height: 430px;
    margin-left: 30px;
}

.crd-home5-img-box {
    width: 255px;
    height: 272px;
    background: url(photo/imageye___-_imgi_223_electronic-store-product-image-14-768x768.jpg);
    background-size: cover;
}

   .card-home5:hover .crd-home5-img-box {
    background: url(photo/imageye___-_imgi_213_electronic-store-product-gallery-image-32-768x768.jpg);
    background-size: cover;
    cursor: pointer;

}

.sale-btn {
    width: 55px;
    height: 28px;
    border-radius: 14px;
    background-color: #d8d8d8;
    border: none;
    margin: 15px 15px;

}


.crd-home5-heading {
  font-family: Poppins, sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 20.8px;
color: rgb(39, 50, 63);
    width: 240px;
    margin: auto;
    margin-top: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #374454;
    margin: 10px 20px;
}



/* footer */
.footer-container{
    width: 100%;
    height: auto;
    background-color: #27323f;
}
.footer-inner{
    width: 95%;
    height: 367px;
    margin: auto;
    display: flex;
    align-items: end;
    justify-content: space-between;
   
}
/* tormart */
.tromart-box{
    width: 23%;
    height: 300px;
}
.tornet-logo-footer{
    width: 130px;
}
.bring{
   font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.4px;
color: rgb(255, 255, 255);
width: 250px;
margin-top: 30px;
}



/* shop */
.shop-deal-box{
    width: 21%;
    height: 300px;
}
.heading-shoop{
    font-family: Poppins, sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 26.4px;
color: rgb(255, 255, 255);
}
.hot{
    font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.4px;
color: rgb(233, 243, 254);
margin-top: 40px;
width: 230px;
}
.hot:hover{
    color: #0573f0;
}
.all-lower-hot{
       font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 26.4px;
color: rgb(233, 243, 254);
margin-top: 5px; 
width: 130px;
}
.all-lower-hot:hover{
    color: #0573f0;
}

/* need */
.need-box{
    width: 23%;
    height: 300px;
}
/* contact */
.contact-box{
    width: 25%;
    height: 300px;
}
/* last-footer-container */
.last-footer-container{
    width: 100%;
    height: 90px;
     border-top: 1px solid white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-last{
    width: 30%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-heading{
    font-family: Inter, sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 26.4px;
color: rgb(156, 167, 171);
}
.right-last{
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.payment-img{
    width: 280px;
    height: 30px;
}












